* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, hsl(0, 0%, 0%), #555555);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
   

}

.flex {
    display: flex;
}

#page > * {
    width: 100%;
}

img {
    width: 50%;
    object-fit: cover;
}

header img {
    width: 5rem;
}

#page > div {
    padding: 4rem 11.2rem;
}

main {
    margin-top: 11.4rem;
}

.input-login {
    background-color: rgba(78, 78, 78, 0.541);
    border-radius:  16px;
    
}